<div class="row performance-result" ng-init="dashboard.init()">
    <div ba-panel>
        <div class="col-md-3"><img src="/assets/img/logo.svg"></div>
        <div class="col-md-6"><h2 class="performance-header">MONTHLY PERFORMANCE REPORT</h2></div>
        <div class="col-md-3 custom-filter-date">


            <div class="form-group">
                <label>Max date to be selected is <code>{{dashboard.momentDate}}</code></label>
                <input class="form-control"
                       placeholder="Select a date..."
                       moment-picker="dashboard.stringDate"
                       locale="en"
                       format="YYYY-MM"
                       min-view="decade"
                       max-view="year"
                       min-date="dashboard.minDateMoment"
                       max-date="dashboard.maxDateMoment"
                       start-view="decade"
                       autoclose="dashboard.autoclose"
                       today="true"
                       ng-model="dashboard.momentDate"
                       ng-model-options="{ updateOn: 'blur' }">


            </div>
            {{dashboard.momentDate}}




        </div>
    </div>

    <div ba-panel class="high-conv">
        <div class="row">
            <div class="col-sm-7">
                <div class="row">
                    <div class="gray">
                        <h2>HIGH LEVEL RESULTS</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="row">
                            <div class=" green">
                                <h3>SUPPLY</h3>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="light-green text-center vehicle-bought-wrapper">
                                        <p>Vehicles Bought</p>
                                        <h1>{{dashboard.selectedPr.vehiclesBought}}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div class="row growth-cars-bought">
                                    <div class=" light-gray">
                                        <p>Growth of Cars Bought MoM</p>
                                        <h2>{{dashboard.selectedPr.growthOfCarsBoughtMoM}}%</h2>
                                    </div>
                                    <div class=" light-gray">
                                        <p>Cars Bought / Working days</p>
                                        <h2>{{dashboard.selectedPr.carsBoughtPerWorkingDays}}</h2>
                                    </div>
                                    <div class=" light-gray">
                                        <p>Avg. Cost/Car (Vat Excl.)</p>
                                        <h2>R{{dashboard.selectedPr.avgCostPerCar}}</h2></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">

                        <div class="row">
                            <div class=" yellow">
                                <h3>SALES</h3>
                            </div>

                        </div>

                        <div class="row sales text-center">

                            <div class="col-sm-6 sales-left">
                                <div class="row ">
                                    <div class=" light-yellow">
                                        <p>Vehicles sold</p>
                                        <h1>{{dashboard.selectedPr.vehiclesSold}}</h1>
                                    </div>
                                    <div class=" light-yellow">
                                        <p>USD Sales (Exc. VAT)</p>
                                        <h1>{{dashboard.selectedPr.usdSales}}K</h1>
                                    </div>
                                    <div class=" light-yellow">
                                        <p>ZAR Sales (Excl. VAT)</p>
                                        <h1>{{dashboard.selectedPr.zarSales}}M</h1></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row ">
                                    <div class="light-gray sales-growth">
                                        <p>Sales Growth MoM</p>
                                        <h2>{{dashboard.selectedPr.salesGrowthMoM}}%</h2>
                                    </div>
                                    <div class=" light-gray">
                                        <p>Gross Margin (PC0)</p>
                                        <h2>{{dashboard.selectedPr.grossMargin}}</h2>
                                    </div>
                                    <div class=" light-gray">
                                        <p>Gross Margin / Car</p>
                                        <h2>R{{dashboard.selectedPr.grossMarginPerCar}}</h2></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="row">
                            <div class=" green">
                                <h3>Acquisition per city</h3>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12 text-center">
                                <div class="row acquisition-per-city">
                                    <div class="light-gray">
                                        <p>Vehicles Bought JHB</p>
                                        <h2>{{dashboard.selectedPr.vehiclesBoughtJHB}}</h2>
                                    </div>
                                    <div class="light-gray">
                                        <p>Vehicles Bought CTP</p>
                                        <h2>{{dashboard.selectedPr.vehiclesBoughtCPT}}</h2>
                                    </div>
                                    <div class="light-gray">
                                        <p>Vehicles Bought DBN</p>
                                        <h2>{{dashboard.selectedPr.vehiclesBoughtDBN}}</h2></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">

                        <div class="row">
                            <div class=" yellow">
                                <h3>Sales per city</h3>
                            </div>

                        </div>

                        <div class="row sales text-center">

                            <div class="col-sm-12 acquisition-per-city">
                                <div class="row ">
                                    <div class="light-gray">
                                        <p>Vehicles sold - JHB</p>
                                        <h2>{{dashboard.selectedPr.vehiclesSoldJHB}}</h2>
                                    </div>
                                    <div class=" light-gray">
                                        <p>Vehicles sold - CPT</p>
                                        <h2>{{dashboard.selectedPr.vehiclesSoldCPT}}</h2>
                                    </div>
                                    <div class=" light-gray">
                                        <p>Vehicles sold - DBN</p>
                                        <h2>{{dashboard.selectedPr.vehiclesSoldDBN}}</h2></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 conversion-funnel-container">
                <div class="row">
                    <div class="gray">
                        <h2>CONVERSION FUNNEL</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 conversion-funnel-wrapper"
                             ba-panel
                             ba-panel-class="with-scroll">
                            <div id="funnelChart" class="admin-chart" ng-controller="FunnelChartController"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

{{dashboard.googleData}}

