<div class="horizontal-scroll">

    <div class="form-group select-page-size-wrap" ng-init="TransunionHistory.init()">
        <label>Rows on page
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="TransunionHistory.smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
        </label>
    </div>

    <div class="import-btn">
        <a ui-sref="administration.transunion.import" class="btn btn-primary">Import</a>
    </div>

    <table class="table" st-table="TransunionHistory.transunionHistoryData">
        <thead>
        <tr class="sortable ">
            <th st-sort="time">Time</th>
            <th st-sort="action">Action</th>
            <th st-sort="user">User</th>
        </tr>
        <tr>
            <th><input st-search="time" placeholder="Search by Time" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="action" placeholder="Search Action" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="user" placeholder="Search User" class="input-sm form-control search-input"
                       type="search"/></th>


        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in TransunionHistory.transunionHistoryData">
            <td>{{item.time}}</td>
            <td>{{item.action}}</td>
            <td>{{item.user}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="TransunionHistory.smartTablePageSize"
                     st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>