<div class="row">
    <div class="col-md-12"
         ba-panel
         ba-panel-title="Import Transunion Form"
         ba-panel-class="with-scroll">

        <form ng-submit="TransunionImport.submitTransunionData()" name="importTransunionForm">
            <div class="form-group">
                <label>Transunion table version</label>
                <input type="text" class="form-control" placeholder="CSV version"
                       value=""
                       ng-model="TransunionImport.importTransunionData.version">
            </div>
            <div class="form-group">
                <label>Upload CSV</label>
                <br/>

                <input ng-model='TransunionImport.importTransunionData.file' type="file"/>


            </div>

            <button type="submit" class="btn btn-danger">
                Submit
            </button>
        </form>
    </div>
</div>