.form-control[readonly] {
  color: #666666;
}

.table-records {
  background-color: white;
}

label.custom-checkbox > span.cbcList-checkBox:before, label.custom-radio > span.cbcList-checkBox:before {
  border: 1px solid #666666;

}