
aside.al-sidebar {
  width: 230px;
}

div.al-main {
  margin-left: 230px;
}

div.slimScrollBar, div.slimScrollRail {
  left: 226px;
}

div.sidebar-hover-elem{
  left: 226px;
}
ul.al-sidebar-sublist > li a {
  padding-left: 72px;
}
