<div class="widgets">
    <div class="row">
        <div class="col-md-12" ng-init="bookingDetails.init()">

            <div class="form-group">
                <label>Booking ID :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.ID ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Booking MM Code :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.MMCode ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Booking date :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.bookingDate ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Type :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.type ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Region :</label>
                <input type="text" class="form-control" placeholder=""
                       value="{{bookingDetails.booking.region ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Address :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.address ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Name of the place :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.nameOfPlace ||''}}"
                       readonly>
            </div>
            <hr/>
            <h3>Person Details</h3>
            <div class="form-group">
                <label>name :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.name ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label> Email :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.email ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Phone number :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.phoneNumber ||''}}"
                       readonly>
            </div>


            <hr/>
            <h3>Car Details</h3>

            <div class="form-group">
                <label>Year :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.year ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Make :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.make ||''}}"
                       readonly>
            </div>

            <div class="form-group">
                <label>Model :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.model ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Fuel type :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.fuelType ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Variant :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.variant ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Mileage :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.mileage ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Quote detail :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingDetails.booking.quoteDetail ||''}}"
                       readonly>
            </div>

            <div class="checkbox-demo-row">
                <div class="input-demo checkbox-demo row">
                    <div class="col-md-4">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" value="{{bookingDetails.booking.spareKeys}}"
                                   ng-disabled="true" ng-model="bookingDetails.booking.spareKeys">
                            <span>Spare Keys</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" value="{{bookingDetails.booking.majorAccidents}}"
                                   ng-disabled="true" ng-model="bookingDetails.booking.majorAccidents">
                            <span>Major Accidents</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" value="{{bookingDetails.booking.warningLights}}"
                                   ng-disabled="true" ng-model="bookingDetails.booking.warningLights">
                            <span>Warning Lights</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" value="{{bookingDetails.booking.serviceHistory}}"
                                   ng-disabled="true" ng-model="bookingDetails.booking.serviceHistory">
                            <span>Service History</span>
                        </label>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>