<div class="row">
    <div class="col-md-12"
         ba-panel
         ba-panel-title="Booking Form"
         ba-panel-class="with-scroll"
         ng-init="bookingsForm.init()">

        <form ng-submit="bookingsForm.submitBooking()" name="bookingForm">

            <div class="form-group">
                <label>Booking ID :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingsForm.booking.ID ||''}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Booking MM Code :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{bookingsForm.booking.MMCode ||''}}"
                       readonly>
            </div>

            <div class="form-group">
                <label>Booking date is: <em>{{bookingsForm.booking.bookingDate | date:'fullDate'
                    }}</em></label>
                <p class="input-group datepicker">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           datepicker-options="bookingsForm.options"
                           ng-model="bookingsForm.booking.bookingDate"
                           is-open="bookingsForm.bookingDateOpened"
                           close-text="Close" alt-input-formats="altInputFormats"
                           show-button-bar="false" placeholder="Please choose a booking date"/>
                    <span class="input-group-btn datepicker">
            <button type="button" class="btn btn-default date-picker" ng-click="bookingsForm.openBookingDatePicker()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>

            <div class="form-group ">
                <label>Booking Type:</label>
                <select class="form-control show-tick" ng-model="bookingsForm.booking.type" name="type">
                    <option value="">- select a type -</option>
                    <option ng-repeat="type in bookingsForm.types" value="{{type}}">{{type}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Region:</label>
                <input type="text" class="form-control" placeholder="Region" name="region"
                       ng-model="bookingsForm.booking.region"
                >
            </div>
            <div class="form-group">
                <label>Address:</label>
                <input type="text" class="form-control" placeholder="Address" name="Address"
                       ng-model="bookingsForm.booking.address"
                >
            </div>
            <div class="form-group">
                <label>Name of Place:</label>
                <input type="text" class="form-control" placeholder="Address" name="nameOfPlace"
                       ng-model="bookingsForm.booking.nameOfPlace">
            </div>
            <hr/>
            <h3>Person Details</h3>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" placeholder="Name" name="Name"
                       ng-model="bookingsForm.booking.name">
            </div>
            <div class="form-group">
                <label>Email address:</label>
                <input type="email" class="form-control" placeholder="Email"
                       value=""
                       ng-model="bookingsForm.booking.email">
            </div>

            <div class="form-group">
                <label>Phone number:</label>
                <input type="tel" class="form-control" placeholder="Phone number" name="phoneNumber"
                       ng-model="bookingsForm.booking.phoneNumber">
            </div>

            <h3>Car Details</h3>
            <div class="form-group">
                <label>Year:</label>
                <input type="text" class="form-control" placeholder="Year"
                       value=""
                       ng-model="bookingsForm.booking.year" ng-disabled="bookingsForm.editData">
            </div>
            <div class="form-group ">
                <label>Make:</label>
                <input type="text" class="form-control" placeholder="Make"
                       value=""
                       ng-model="bookingsForm.booking.make" ng-disabled="bookingsForm.editData">
            </div>
            <div class="form-group ">
                <label>Model:</label>
                <input type="text" class="form-control" placeholder="Model"
                       value=""
                       ng-model="bookingsForm.booking.model" ng-disabled="bookingsForm.editData">
            </div>
            <div class="form-group ">
                <label>Fuel Type:</label>
                <input type="text" class="form-control" placeholder="Fuel Type"
                       value=""
                       ng-model="bookingsForm.booking.fuelType" ng-disabled="bookingsForm.editData">
            </div>
            <div class="form-group ">
                <label>Variant:</label>
                <input type="text" class="form-control" placeholder="Variant"
                       value=""
                       ng-model="bookingsForm.booking.variant" ng-disabled="bookingsForm.editData">
            </div>

            <div class="form-group ">
                <label>Mileage:</label>
                <input type="text" class="form-control" placeholder="Mileage"
                       value=""
                       ng-model="bookingsForm.booking.mileage" ng-disabled="bookingsForm.editData">
            </div>

            <div class="form-group">
                <label>Color:</label>
                <input type="text" class="form-control" placeholder="Color" name="Color"
                       ng-model="bookingsForm.booking.color"
                >
            </div>
            <div class="form-group ">
                <label>Quote Detail:</label>
                <input type="text" class="form-control" placeholder="Quote Detail"
                       value=""
                       ng-model="bookingsForm.booking.quoteDetail" ng-disabled="bookingsForm.editData">
            </div>

            <div class="checkbox-demo-row">
                <div class="input-demo checkbox-demo row">
                    <div class="col-md-4">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" value="{{bookingsForm.booking.spareKeys}}"
                                   ng-model="bookingsForm.booking.spareKeys">
                            <span>Spare Keys</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" value="{{bookingsForm.booking.majorAccidents}}"
                                   ng-model="bookingsForm.booking.majorAccidents">
                            <span>Major Accidents</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" value="{{bookingsForm.booking.warningLights}}"
                                   ng-model="bookingsForm.booking.warningLights">
                            <span>Warning Lights</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" value="{{bookingsForm.booking.serviceHistory}}"
                                   ng-model="bookingsForm.booking.serviceHistory">
                            <span>Service History</span>
                        </label>
                    </div>

                </div>

            </div>


            <div class="col-md-12">

                <button type="submit" class="btn btn-danger">Submit</button>

            </div>
        </form>
    </div>
</div>