<div class="widgets">
    <div class="row">
        <div class="col-md-12" ng-init="locationsDetails.init()">
            <div class="form-group">
                <label>ID :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{locationsDetails.myLocationDetails.id ||'empty'}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Type :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{locationsDetails.myLocationDetails.type ||'empty'}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Name :</label>
                <input type="text" class="form-control" placeholder=""
                       value="{{locationsDetails.myLocationDetails.name ||'empty'}}"
                       readonly>
            </div>
            <div class="form-group">
                <label>Region :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{locationsDetails.myLocationDetails.region ||'empty'}}"
                       readonly>
            </div>
            <div class="form-group" ng-if="locationsDetails.myLocationDetails.type == 'cbc' ">
                <label>Address :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{locationsDetails.myLocationDetails.address ||'empty'}}"
                       readonly>
            </div>
            <div class="form-group" ng-if="locationsDetails.myLocationDetails.type == 'cbc' ">
                <label>CBC Guard Distance :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{locationsDetails.myLocationDetails.cbcGuardDistance + ' K.M' ||'empty'}}"
                       readonly>
            </div>
            <div class="form-group" ng-if="locationsDetails.myLocationDetails.type == 'cbc' ">
                <label> CBC Support Distance :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{locationsDetails.myLocationDetails.cbcSupportDistance + ' K.M'  ||'empty'}}"
                       readonly>
            </div>
            <hr/>


            <div
                    ba-panel
                    ba-panel-title="Schedules for CBC'S:"
                    ba-panel-class="with-scroll" class="col-md-12"
                    ng-if="locationsDetails.myLocationDetails.type == 'cbc' ">
                <div class="datepicker col-md-4"
                     ng-if="locationsDetails.myLocationDetails.type == 'cbc' ">

                    <label>Selected date is: <em>{{locationsDetails.myLocationDetails.scheduleDate |
                        date:'fullDate' }}</em></label>
                    <div class="uib-datepicker-wrap">
                        <uib-datepicker ng-model="locationsDetails.myLocationDetails.scheduleDate"
                                        datepicker-options="locationsDetails.options"
                                        ng-change="locationsDetails.getCbcSchedule()"></uib-datepicker>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="horizontal-scroll">

                        <table class="table" st-table="locationsDetails.myLocationDetails.schedule">
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Free slots</th>
                                <th>Busy slots</th>
                                <th>Total slots</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr ng-repeat="item in locationsDetails.myLocationDetails.schedule">
                                <td>{{item.time}}</td>
                                <td>{{item.free}}</td>
                                <td>{{item.busy}}</td>
                                <td>{{item.totalTimeSlots}}</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                </div>


            </div>


            <div class="form-group"
                 ng-if="locationsDetails.myLocationDetails.type == 'visiting area' || locationsDetails.myLocationDetails.type == 'exclusion area' ">
                <label>Boundaries :</label>
                <input type="text" class="form-control details-record" placeholder=""
                       value="{{locationsDetails.myLocationDetails.boundaries ||'empty'}}"
                       readonly>
            </div>
            <div class="add-row-editable-table"
                 ng-if="locationsDetails.myLocationDetails.type == 'visiting area'">
                <a ng-href="#/booking/locations/cbcs/{{locationsDetails.myLocationDetails.id}}"
                   class="btn btn-primary">Add CBC</a>
            </div>
            <div class="cbcs-wrapper" ng-if="locationsDetails.myLocationDetails.type == 'visiting area'">

                <div class="form-group">
                    <label>CBC'S :</label>
                </div>
                <div class="vertical-scroll">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="table-id">#</th>
                            <th>Name</th>
                            <th>Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in locationsDetails.myLocationDetails.cbcsList">
                            <td class="table-id table-records">{{item.id}}</td>
                            <td class="table-records">{{item.name}}</td>
                            <td class="table-records">{{item.address}}</td>
                            <td class="table-records">
                                <div class="buttons">
                                    <button class="btn btn-danger  btn-xs" data-toggle="modal"
                                            ng-click="locationsDetails.deleteCbc()">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>