<div class="row">
    <div class="col-md-12"
         ba-panel
         ba-panel-title="Location Form"
         ba-panel-class="with-scroll"
         ng-init="locationsForm.init()">


        <select class="form-control  show-tick" ng-model="locationsForm.location.type"
                ng-disabled="locationsForm.editData"
                ng-change="locationsForm.change()">
            <option ng-repeat="(value, typeName) in locationsForm.types" value="{{value}}">{{typeName}}</option>
        </select>

        <hr>

        <form ng-submit="locationsForm.submitLocation()" name="locationForm">

            <div ng-if="locationsForm.location.type !=='cbc'">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="name"
                           value=""
                           ng-model="locationsForm.location.name" ng-required="true">
                </div>
                <div class="form-group">
                    <label>Boundaries</label>
                    <input type="text" class="form-control" placeholder="Boundaries" name="boundaries"
                           ng-model="locationsForm.location.boundaries" ng-required="true">
                </div>

                <div class="form-group">
                    <label>Region</label>
                    <input type="text" class="form-control" placeholder="Region" name="region"
                           ng-model="locationsForm.location.region" ng-required="true">
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>


            </div>
            <div ng-if="locationsForm.location.type =='cbc'">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="name"
                           value=""
                           ng-model="locationsForm.location.name" ng-required="true">
                </div>
                <div class="form-group">
                    <label>Region</label>
                    <input type="text" class="form-control" placeholder="Region" name="region"
                           ng-model="locationsForm.location.region" ng-required="true">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Address" name="address"
                           ng-model="locationsForm.location.address" ng-required="true">
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="tel" class="form-control" placeholder="Phone number" name="phoneNumber"
                           ng-model="locationsForm.location.phoneNumber" ng-required="true">
                </div>
                <div class="form-group">
                    <label>CBC guard distance </label>
                    <input type="number" class="form-control" placeholder="CBC guard distance in K.M"
                           name="cbcGuardDistance"
                           ng-model="locationsForm.location.cbcGuardDistance" ng-required="true">
                </div>
                <div class="form-group">
                    <label>CBC support distance</label>
                    <input type="number" class="form-control" placeholder="CBC support distance in K.M"
                           name="cbcSupportDistance"
                           ng-model="locationsForm.location.cbcSupportDistance" ng-required="true">
                </div>
                <hr/>
                <h3>Schedule:</h3>
                <hr/>

                <div class="col-md-12">
                    <div class="col-md-6 cbc_dateinp_wrapper">
                        <h4>Date:</h4>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Initial date is: <em>{{locationsForm.location.initialDate | date:'fullDate'
                                    }}</em></label>

                                <p class="input-group datepicker">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           datepicker-options="locationsForm.options"
                                           ng-model="locationsForm.location.initialDate"
                                           is-open="locationsForm.initialDateOpened" ng-required="true"
                                           close-text="Close" alt-input-formats="altInputFormats"
                                           show-button-bar="false"/>
                                    <span class="input-group-btn ">
            <button type="button" class="btn btn-default date-picker"
                    ng-click="locationsForm.openInitialDatePicker()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label>End date is: <em>{{locationsForm.location.endDate | date:'fullDate'
                                    }}</em></label>
                                <p class="input-group datepicker">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           datepicker-options="locationsForm.options"
                                           ng-model="locationsForm.location.endDate"
                                           is-open="locationsForm.endDateOpened" ng-required="true"
                                           close-text="Close" alt-input-formats="altInputFormats"
                                           show-button-bar="false"/>
                                    <span class="input-group-btn datepicker">
            <button type="button" class="btn btn-default date-picker" ng-click="locationsForm.openEndDatePicker()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <p>Weekdays:</p>
                            <div class="form-group">

                                <div class="input-demo checkbox-demo row">
                                    <div class="col-md-12" ng-repeat="item in locationsForm.weekDays">
                                        <label class="checkbox-inline custom-checkbox nowrap">
                                            <input type="checkbox" value="{{item}}"
                                                   ng-model="locationsForm.location.weekDays[item]">
                                            <span>{{item}}</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <h4>Time slot:</h4>
                        <br/>
                        <div class="col-md-12">
                            <p>Please select start and end times:</p>

                            <div rg-range-picker="locationsForm.myDatetimeRange" labels="locationsForm.myDatetimeLabels"
                                 ng-model="locationsForm.location.myDatetimeRange"></div>
                        </div>
                        <div class="col-md-8">
                            <p>Set time slot size:</p>
                            <select class="form-control  show-tick" ng-model="locationsForm.location.timeIntervals"
                                    ng-required="true">
                                <option value="">- select -</option>
                                <option ng-repeat="(value, typeName) in locationsForm.intervals" value="{{value}}">
                                    {{typeName}}
                                </option>
                            </select>
                        </div>

                    </div>


                </div>
                <div class="col-md-6">

                    <div class="col-md-12">
                        <h4>Number of inspectors:</h4>
                        <div class="col-md-8">
                            <select class="form-control  show-tick"
                                    ng-model="locationsForm.location.inspectionInspectorData.numberOfInspectors"
                                    ng-required="true">
                                <option value="">- select -</option>
                                <option ng-repeat="item in locationsForm.inspectionInspectorData"
                                        value="{{item.numberOfInspectors}}">{{item.numberOfInspectors}}
                                </option>
                            </select>
                        </div>

                    </div>


                    <div class="col-md-12">
                        <br/>

                        <h4>Number of inspections per inspector:</h4>
                        <div class="col-md-8">
                            <select class="form-control  show-tick col-md-6"
                                    ng-model="locationsForm.location.inspectionInspectorData.numberOfInspections"
                                    ng-required="true">
                                <option value="">- select -</option>
                                <option ng-repeat="item in locationsForm.inspectionInspectorData"
                                        value="{{item.numberOfInspections}}">{{item.numberOfInspections}}
                                </option>
                            </select>

                        </div>


                    </div>


                </div>


                <div class="col-md-12">
                    <hr/>

                    <button type="submit" class="btn btn-danger">Submit</button>


                </div>


            </div>


        </form>


    </div>
</div>